/* body {
    background-color: rgb(241, 241, 241);
  } */

.post_page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 90px;
  justify-items: center;
}

.post_card {
  display: grid;
  grid-template-rows: 500px 250px;
  width: 80%;
  background-color: rgba(230, 230, 230, 0.9);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.poster_image {
  height: 100%;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.post_details {
  padding: 15px;
  display: grid;
  grid-template-columns: 25% 1fr;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgba(245, 245, 245, 0.9);
}

.poster_image:hover {
  cursor: pointer;
}

.uploader {
  margin-top: 10px;
}

.uploader p {
  text-align: center;
  margin-top: 20px;
  width: 150px;
}

.post_info {
  display: grid;
  margin-top: 10px;
}

.post_info:hover {
  cursor: pointer;
}

.img {
  border-radius: 80%;
  width: 150px;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* .text {
  color: rgb(232, 180, 48);
  font-weight: bold;
} */

.comments {
  display: grid;
  /* padding-left: 10px;
  padding-right: 10px; */
}

.commentAct {
  margin-bottom: 30px;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

.commentActLeft {
  display: grid;
  /* padding: 5px; */
}

/* .commentActLeft .text {
  text-align: start;
} */

.commentActRight {
  display: grid;
  grid-template-columns: 80% 10%;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
  margin-bottom: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
}

.commentActRight textarea {
  resize: none;
  height: 100%;
  padding: 5px;
}

.update_delete {
  display: grid;
  gap: 10px;
  margin-top: 5px;
}

.update_delete button {
  padding: 5px;
}

.form {
  display: grid;
  /* justify-content: center; */
  align-items: center;
  /* grid-template-columns: auto; */
  padding-top: 150px;
}

.input_cont {
  display: grid;
  gap: 5px;
  width: 720px;
}

/* .input_cont input {
  margin-bottom: 10px;
} */

.input_cont label {
  margin-bottom: 10px;
  font-size: 18px;
}

.input_cont textarea {
  resize: none;
}

.input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

label {
  margin-right: 10px;
}

.input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

.buttonAct {
  background-color: #022047;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.buttonAct:hover {
  color: #fbd601;
  background-color: #0d305d;
  border: 2px solid #022047;
  cursor: pointer;
}

.btnAct {
  background-color: #022047;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 0.5em;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
  width: 130px;
}

.btnAct:hover {
  color: #fbd601;
  background-color: #0d305d;
  border: 2px solid #022047;
  cursor: pointer;
}

.join {
  background-color: #0d305d;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 0.3em;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
  width: 70px;
}

.join:hover {
  color: #fbd601;
  background-color: #0d305d;
  border: 2px solid #022047;
  cursor: pointer;
}

.show {
  background-color: #0d305d;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 0.3em;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
  width: 180px;
}

.show:hover {
  color: #fbd601;
  background-color: #0d305d;
  border: 2px solid #022047;
  cursor: pointer;
}

.text {
  font-size: 20px;
}

.btnAct:hover {
  color: #fbd601;
  background-color: #0d305d;
  border: 1px solid #022047;
  cursor: pointer;
}

.join {
  background-color: #0d305d;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 5px;
  width: 75px;
}

.join:hover {
  color: #fbd601;
  background-color: #0d305d;
  border: 2px solid #022047;
  cursor: pointer;
}

.show {
  background-color: #0d305d;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 1px;
  /* margin-bottom: 0.25em; */
  width: 180px;
  padding: 5px;
}

.show:hover {
  color: #fbd601;
  background-color: #0d305d;
  border: 2px solid #022047;
  cursor: pointer;
}

.text1 {
  font-size: large;
  color: brown;
}

.btnCont {
  margin-top: 30px;
  padding: 15px;
  display: flex;
  gap: 10px;
}

.link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.692);
}

.title {
  color: rgb(232, 180, 48);
}

.member_page {
  display: block;
  /* width: 100%; */
  /* grid-template-columns: 25% 25% 25% 25%; */
  justify-content: start;
}

.joined_member {
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.link img {
  width: 75px;
  height: 75px;
}

.post_activity_details {
  display: grid;
  justify-items: center;
}

.post_content {
  display: grid;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  margin: 60px;
  width: 1080px;
}

.post_activity_Img {
  width: 100%;
}

.post_activity_Img img {
  width: 100%;
}

.post_content h1 {
  margin-top: 20px;
  padding-left: 20px;
  color: rgb(29, 22, 3);
}

.post_content p {
  padding-left: 20px;
  margin-top: 10px;
  color: rgb(232, 180, 48);
}

.comment_text_area {
  display: flex;
  margin-bottom: 10px;
  height: 100%;
  padding: 10px;
  align-items: flex-start;
}

.comment_text_area textarea {
  width: 80%;
  height: 100%;
  font-size: 18px;
  resize: none;
  padding: 5px;
}

.comment_text_area button {
  width: 20%;
  height: 100%;
  margin-left: 5px;
}

.comments h1 {
  margin-bottom: 30px;
  /* margin-top: 30px; */
}
