.regCont {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f6f8f8;
    overflow: hidden;
  }

  .leftAuthReg {
    flex: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }

  .rightAuthReg{
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .leftAuthReg img {
    width: 100%;
  }

  .regWrapper h1{
      margin-bottom: 30px;
      text-align: center;
  }
  
  .regWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    /* box-shadow: 0px 10px 50px #555; */
    /* flex: 40%; */    
  }
  
  .regForm {   
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  
  .regForm label {
    font-size: 0.8em;
    margin-bottom: 0.25em;
    color: #222;
    font-weight: lighter;
  }
  
  .regForm input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
  }
  
  .regForm input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #999;
  }
  
  .regForm input.error {
    border: 1px solid red;
  }
  
  .errorMessage {
    color: red;
    font-size: 0.75em;
    display: relative;
  }
  
  .regForm .firstName {
    margin-right: 1%;
  }
  
  .regForm .lastName {
    margin-left: 1%;
  }
  
  .firstName,
  .lastName,
  .email,
  .password {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .firstName,
  .lastName {
    width: 49%;
  }
  
  .email,
  .password {
    width: 100%;
  }
  
  .regForm .createAccount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .regForm .createAccount button {
    background-color: #022047;
    color: #fff;
    border: 2px solid #fff;
    width: 100%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
  }
  
  .createAccount button:hover {
    color: #fbd601;
    background-color: #0d305d;
    border: 2px solid #022047;
    cursor:pointer;
  }
  
  .createAccount small {
    color: #999;
    font-weight: lighter;
  }

  form {
      display: flex;
      flex-direction: row;
      gap: 50px;
      font-size: 20px;
      justify-content: center;
      align-items: center;
  }
