.inbox_page{
  display: grid;
  grid-template-rows: 100px;
  row-gap:6px;
  margin-left:25%;
  margin-right:25%;
}
.inbox {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.sender{
  display: grid;
  grid-template-columns: 125px 1fr; 
}
.senderInfo{
  display: grid;
  grid-template-rows: 50px 50px ;
}

.sender img {
  border-radius: 80%;
  width: 100px;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
