.plans{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    gap: 100px;
    border-style: groove;
}

.plan{
    display: flex;
    border-style: groove;
}

.leftplan{
    flex: 10%;
}


.rightplan{
    display: grid;
    flex: 50%;
}


.add{
    margin-left: 85%;
    margin-top: 7%;
    
}


.form{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto;
    gap: 20px;
    padding-top: 150px;
}

.input_cont{
    display: grid;
    gap: 5px;
    
}


.input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
}


.input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #999;
  }


.button {
    background-color: #022047;
    color: #fff;
    border: 2px solid #fff;
    width: 100%;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
}


button:hover {
    color: #fbd601;
    background-color: #0d305d;
    border: 2px solid #022047;
    cursor:pointer;
  }