.matchingPage {
  margin-top: 20px;
  padding: 20px;
}

.matchingPage p {
  color: #000;
  font-size: 20px;
}

.matchBox {
  display: grid;
  grid-template-columns: 20% 80%;
  margin-top: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
  background-color: rgba(230, 230, 230, 0.9);
  padding: 30px;
}

.interactionButton {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.interactionButton:hover {
  cursor: pointer;
}

.matchBox img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.matchBox p {
  font-size: 20px;
  margin-bottom: 15px;
}

.UserName {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(232, 180, 48);
}
