.footer {
    width: 100%;
    background-color: #e4e8ecbb;
    height: 30px;
    font-size: smaller;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    overflow: hidden;
  }
  
  .footer p {
    color: rgba(28, 20, 47, 0.726);
  }
  
  .footer span {
    color: rgb(192, 129, 13);
  }
  