@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color: #e8b430;
  width: 100%;
}

body {
  background: rgb(240, 240, 240);
  overflow-x: hidden;
  /* padding-top: 90px; */
  font-family: "poppins", sans-serif;
  /* margin: 0 100px; */
}

.container {
  margin-bottom: 20px;
  margin: 0 100px;
  padding-top: 90px;
}

.profile-header {
  background: #fff;
  width: 100%;
  display: flex;
  height: 190px;
  position: relative;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.profile-img {
  float: left;
  width: 340px;
  height: 200px;
}

.profile-img img {
  border-radius: 50%;
  height: 230px;
  width: 230px;
  border: 4px solid #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50px;
  top: 20px;
  z-index: 5;
  background: #fff;
}

.profile-nav-info {
  display: flex;
  float: left;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
}

.profile-nav-info h3 {
  font-variant: small-caps;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
}

.profile-nav-info .displayName {
  display: flex;
  font-weight: bold;
  color: #777;
}

.profile-nav-info .displayName p {
  margin-right: 5px;
}

.profile-option {
  width: 40px;
  height: 40px;
  background-color: var(--color);
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  outline: none;
}

.profile-option .Follow i {
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
}

.profile-option:hover {
  background: #fff;
  border: 1px solid var(--color);
}

.profile-option:hover .Follow i {
  color: var(--color);
}

.profile-option .Follow .alert-message {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #fff;
  color: var(--color);
  border: 1px solid;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  height: 20px;
  width: 20px;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
}

.main-bd {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
  /* padding-right: 15px; */
}

.profile-side {
  width: 100%;
  background: #fff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 90px 30px 20px;
}

.profile-side p {
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  font-family: "Bree Serif", serif;
  margin-left: 10px;
  z-index: 90;
}

.profile-side button {
  font-family: "Bree Serif", serif;
  cursor: pointer;
}

.profile-side p i {
  color: var(--color);
  margin-right: 10px;
}

.profile-btn {
  display: flex;
}

.chat-btn,
.createbtn {
  border: 0;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  background: var(--color);
  font-family: "Bree serif", sans-serif;
  font-size: 1rem;
  margin: 5px 2px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  transition: background 0.3s ease-in-out;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3);
}

.edit {
  background: transparent;
  border: none;
  font-size: 18px;
  margin-top: 5px;
}

.edit:hover {
  background-color: #fff;
  border: none;
}

.chat-btn:hover,
.createbtn:hover {
  background: rgba(255, 213, 28, 0.8);
}

.chat-btn i,
.createbtn i {
  margin-right: 5px;
}

.user-rating {
  display: flex;
}

.user-rating h3 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-right: 5px;
  letter-spacing: 1px;
  color: #666;
}

.rate {
  padding-top: 6px;
}

.rate i {
  font-size: 0.9rem;
  color: var(--color);
}

.no-user {
  font-size: 0.9rem;
}

.nav {
  width: 100%;
  z-index: -1;
}

.nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  height: 40px;
  background: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.nav ul li {
  padding: 10px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
  border-right: 1px solid rgba(119, 119, 119, 0.356);
}

.nav ul li.active,
.nav ul li:hover {
  box-shadow: 0px -3px 0px rgba(253, 220, 30, 1) inset;
}

.profile-body {
  width: 100%;
  z-index: -1;
  overflow-y: scroll;
  height: 720px;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3);
}

.profile-body::-webkit-scrollbar {
  width: 10px;
}

.profile-body::-webkit-scrollbar-track {
  background-color: rgb(221, 218, 218);
  border-radius: 100px;
}

.profile-body::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 100px;
}

.tab {
  padding: 30px;
  width: 100%;
  text-align: center;
  /* display: none; */
}

.friend_page {
  display: grid;
  grid-template-columns: 125px 125px 125px 125px;
  row-gap: 30px;
  margin-top: 30px;
  /* margin-left: 15%; */
  padding: 20px;
  /* margin-bottom: 4%; */
  justify-content: space-around;
  /* align-items: center; */
  text-align: center;
}

/* .friend_card{
/* margin-top:10; 
} */
.friend_img {
  border-radius: 50%;
  width: 125px;
  height: 125px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.friend_card p {
  margin-top: 15px;
}

.friend_card a {
  text-decoration: none;
}

.edit_page {
  padding: 20px;
}

.edit_page p {
  margin-top: 10px;
  color: #000;
  font-size: 20px;
}

.edit_page button {
  font-size: 16px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

form {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.edit_details input {
  padding: 4px;
}

.profileAlbum {
  padding: 20px;
}

.albumTab {
  display: inline-block;
  margin-left: 20px;
}

.pic {
  margin-top: 20px;
}

.pic img {
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.profile_post_page {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 30px;
  margin-top: 30px;
  justify-items: center;
}

.profile_post_details {
  padding: 20px;
}

.profile_post_details p {
  margin-top: 10px;
}

.pref_page {
  padding: 20px;
}

.pref_page p {
  margin-top: 10px;
  font-size: 20px;
  color: #000;
}
