body {
  background-color: rgb(241, 241, 241);
}

.post_page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 120px;
  /* margin-top: 4%;
  margin-left: 9.5%;
  margin-bottom: 4%; */
  margin: auto 10%;
  padding: 30px;
}

.post_card {
  display: grid;
  grid-template-rows: 500px 250px;
  width: 80%;
  background-color: rgba(230, 230, 230, 0.9);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.post_details {
  padding: 15px;
  display: grid;
  grid-template-columns: 25% 1fr;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.poster_image {
  height: 100%;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.poster_image:hover {
  cursor: pointer;
}

.uploader {
  margin-top: 10px;
}

.uploader p {
  text-align: center;
  margin-top: 20px;
  width: 150px;
}

.post_info {
  display: grid;
  margin-top: 10px;
}

.post_info:hover {
  cursor: pointer;
}

.img {
  border-radius: 80%;
  width: 150px;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.text {
  color: rgb(232, 180, 48);
  font-weight: bold;
}

.post {
  margin: 30px;
  display: grid;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.postImg {
  width: 700px;
}

.comment {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 30px;
  gap: 40px;
}

.add {
  margin-left: 85%;
  margin-top: 6%;
}

.form {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto;
  gap: 20px;
  padding-top: 150px;
}

.input_cont {
  display: grid;
  gap: 5px;
}

.input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

.input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

.button {
  background-color: #022047;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.button:hover {
  color: #fbd601;
  background-color: #0d305d;
  border: 2px solid #022047;
  cursor: pointer;
}

.btnPlan {
  background-color: #022047;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 0.5em;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
  width: 130px;
}

.btnPlan:hover {
  color: #fbd601;
  background-color: #0d305d;
  border: 2px solid #022047;
  cursor: pointer;
}

/* .member_page {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  justify-content: space-around;
} */

.member_image {
  width: 100px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 100px;
}

.filter_page {
  display: flex;
  height: 100%;
  margin-top: 50px;
  margin-left: 250px;
  align-items: center;
  justify-items: center;
  gap: 10px;
}


.actionButton{
  width: 100px;
  padding: 11px;
  background-color: rgb(243, 183, 31);
  border:none;
  border-radius:5px;
  cursor: pointer;
}

.actionButton:hover{
  background-color: rgba(243, 183, 31, 0.801);
}