* {
    margin: 0;
    padding: 0;
  }
  
  .navBar {
    width: 100%;
    background-color: #021e39;
    height: 50px;
    display: flex;
    border-bottom: solid #e8b430 1px;
  }
  
  .navBar .leftSide {
    flex: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 30px;
    gap: 5px;
  }
  
  .navBar .leftSide img {
    width: 40px;
  }
  
  .navBar .leftSide span {
    color: #e8b430;
    font-size: 35px;
  }
  
  .navBar .rightSide {
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .navBar .middleSide{
      flex: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .link {
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    margin-right: 10px;
    padding: 10px;
  }
  
  .showLinks {
    display: none;
  }
  
  .hideLinks {
    display: none;
  }
  
  .navBar .rightSide .links {
    max-height: 50px;
  }
  
  .link:hover {
    color: #e8b430;
  }
  
  .navBar .rightSide #hidden {
    display: flex;
  }
  
  @media only screen and (max-width: 650px) {
    .showLinks {
      display: flex;
      margin-right: 10px;
      padding: 10px;
    }
  
    .showLinks img {
      width: 30px;
    }
  
    .hideLinks {
      display: flex;
      margin-right: 10px;
      padding: 10px;
    }
  
    .hideLinks img {
      width: 20px;
    }
  
    .links {
      display: none;
    }
  
    .navBar .rightSide #hidden {
      position: absolute;
      width: 100%;
      right: 0px;
      top: 50px;
      height: 150px;
      max-height: 150px;
      background-color: #021e39;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  